#%RAML 0.8
---

title: Self Assessment
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Liability
    content: !include docs/liability.md

schemas:
  - Error: !include schemas/Error.json
  - Liability: !include schemas/liability/Liability.json
  - Liabilities: !include schemas/liability/Liabilities.json

/self-assessment:
  /ni/{nino}:
    uriParameters:
      nino:
        displayName: National Insurance Number
        type: string
        required: true
    /liabilities:
      post:
        description: Create liability
        queryParameters:
          taxYear:
            displayName: Tax Year
            description: The tax year that you want the liability created for
            type: string
            example: 2016-17
            required: true
        responses:
          201:
            headers:
              Location:
                example: /self-assessment/ni/{nino}/liabilities/{liabilityId}
          400:
            body:
              application/json:
                schema: Error
                example: !include examples/liability/errors/GENERIC.json
      get:
        description: List liabilities
        queryParameters:
          taxYear:
            displayName: Tax Year
            type: string
            example: 2016-17
            required: true
        responses:
          200:
            body:
              application/json:
                schema: Liabilities
                example: !include examples/liability/Liabilities.json
      /{liabilityId}:
        uriParameters:
          liabilityId:
            type: string
        get:
          description: Get liability
          responses:
            200:
              body:
                application/json:
                  schema: Liability
                  example: !include examples/liability/Liability.json
