#%RAML 0.8
---

title: Self Assessment
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Self Employment
    content: !include docs/self-employment.md
  - title: UK Properties
    content: !include docs/uk-properties.md

schemas:
  - Error: !include schemas/Error.json
  - SelfEmployment: !include schemas/self-employment/SelfEmployment.json
  - SelfEmployments: !include schemas/self-employment/SelfEmployments.json
  - UkPropertyPeriod: !include schemas/uk-property/Period.json
  - UkPropertyPeriods: !include schemas/uk-property/Periods.json

/self-assessment:
  /ni/{nino}:
    uriParameters:
      nino:
        displayName: National Insurance Number
        type: string
        required: true
    /self-employments:
      description: Self Employments
      post:
        description: Create a self-employment source of income
        body:
          application/json:
            schema: SelfEmployment
            example: !include examples/self-employment/SelfEmployment.json
        responses:
          201:
            headers:
              Location:
                example: /self-assessment/nino/{nino}/self-employments/{selfEmploymentId}
          400:
            body:
              application/json:
                schema: Error
                example: !include examples/errors/TOO_MANY_SOURCES.json
      get:
        description: List self-employment sources of income
        responses:
          200:
            body:
              application/json:
                schema: SelfEmployments
                example: !include examples/self-employment/SelfEmployments.json
      /{selfEmploymentId}:
        description: Self Employment
        uriParameters:
          selfEmploymentId:
            displayName: Self Employment ID
            description: An identifier for the self-employmment, unique to the customer
            type: string
        get:
          description: Get a self-employment source of income
          responses:
            200:
              body:
                application/json:
                  schema: SelfEmployment
                  example: !include examples/self-employment/SelfEmployment.json
        put:
          description: Update a self-employment source of income, e.g. to change accounting period
          body:
            application/json:
              schema: SelfEmployment
              example: !include examples/self-employment/SelfEmployment.json
          responses:
            204:
            400:
              body:
                application/json:
                  schema: Error
                  example: !include ./examples/errors/INVALID_ACCOUNTING_PERIOD.json
    /properties/uk:
      /periods:
        post:
          description: Create period
          body:
            application/json:
              schema: UkPropertyPeriod
              example: !include examples/uk-property/Period.json
          responses:
            201:
              headers:
                Location:
                  example: /self-assessment/nino/{nino}/properties/uk/periods/{periodId}
            400:
              body:
                application/json:
                  schema: Error
                  example: !include examples/uk-property/errors/Period_INVALID_REQUEST.json
        get:
          description: List periods
          responses:
            200:
              body:
                application/json:
                  schema: UkPropertyPeriods
                  example: !include examples/uk-property/Periods.json
        /{periodId}:
          uriParameters:
            periodId:
              displayName: Period ID
              type: string
          get:
            description: Get period
            responses:
              200:
                body:
                  application/json:
                    schema: UkPropertyPeriod
                    example: !include examples/uk-property/Period.json
          put:
            description: Update period
            body:
              application/json:
                schema: UkPropertyPeriod
                example: !include examples/uk-property/Period.json
            responses:
              204:
              400:
                body:
                  application/json:
                    schema: Error
                    example: !include examples/uk-property/errors/Period_INVALID_REQUEST.json
              404:
                body:
                  application/json:
                    schema: Error
                    example: !include examples/errors/NOT_FOUND.json
