#%RAML 1.0
---

title: Self Assessment (MTD)
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
  - title: Context
    content: !include docs/context.md
  - title: Overview
    content: !include docs/overview.md
  - title: Terminology
    content: !include docs/terminology.md
  - title: Changelog
    content: !include docs/changeLog.md
  - title: Technical support
    content: !include docs/technicalSupport.md
  - title: Sandbox
    content: !include docs/sandbox.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Error Codes
    content: !include docs/error_codes.md

traits:
  contentType:
    headers:
      Content-Type:
        description: Specifies the format of the request body, which must be JSON.
        type: string
        required: true
        example: application/json
  testScenarioHeader:
    headers:
      Gov-Test-Scenario:
        description: Only in sandbox environment. See Test Data table for all header values.
        type: string
        required: false
        example: '-'
  agentSubscription:
    responses:
      400:
        body:
          application/json:
            type: types.errorResponse
            examples:
              failedRequest:
                description: Invalid POST/PUT request by an agent who is not authorized by client
                value:
                  code: INVALID_REQUEST
      403:
        body:
          application/json:
            type: types.errorResponse
            examples:
              agentNotSubscribed:
                description: Agent not subscribed to Agent Services
                value:
                  code: AGENT_NOT_SUBSCRIBED
              agentNotAuthorized:
                description: The agent is not authorised to perform this action
                value:
                  code: AGENT_NOT_AUTHORIZED
  clientSubscriptionToMTD:
      responses:
        403:
          body:
            application/json:
              type: types.errorResponse
              examples:
                clientNotSubscribedToMTD:
                  description: The client is not subscribed to MTD
                  value:
                    code: CLIENT_NOT_SUBSCRIBED
  periodBVRs:
    responses:
      403:
        body:
          application/json:
            type: types.errorResponse
            examples:
              overlappingPeriod:
                description: If update period overlaps with any of the existing update periods
                value:
                  code: OVERLAPPING_PERIOD
              misAlignedPeriod:
                description: If update period is not within the accounting period
                value:
                  code: MISALIGNED_PERIOD
              nonContiguousPeriod:
                description: If update periods are not contiguous
                value:
                  code: NOT_CONTIGUOUS_PERIOD

/self-assessment:
  /ni/{nino}:
    uriParameters:
      nino:
        description: National Insurance Number. This should be provided without spaces (e.g. AA999999A), as spaces in NINOs will be forbidden in a future version of the API.
        type: string
        example: AA999999A
    /self-employments:
      (annotations.group):
          name: Self-employment business
          description: !include docs/self-employment.md
      post:
        displayName: Add a self-employment business [test only]
        description: Add a self-employment business. This API is not available in production.
        (annotations.sandboxData): !include scenarios/agent-scenarios.md
        is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
        (annotations.scope): "write:self-assessment"
        securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
        body:
          application/json:
            type: !include schemas/SelfEmployment_Create_Without_ID.json
            example: !include examples/self-employment/SelfEmploymentCreate.json
        responses:
          201:
            headers:
              Location:
                example: /self-assessment/ni/{nino}/self-employments/{selfEmploymentId}
                description: Location of the resource created
              X-CorrelationId:
                example: 5968c22d620000620096db5f
                description: Unique id for operation tracking
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  invalidNino:
                    description: Invalid NINO
                    value:
                      code: NINO_INVALID
                  mandatoryField:
                    description: Mandatory field missing
                    value:
                      code: MANDATORY_FIELD_MISSING
                  invalidDate:
                    description: Non ISO format date
                    value:
                      code: INVALID_DATE
                  commencementDateInThePast:
                    description: Commencement date should be today or in the past
                    value:
                      code: DATE_NOT_IN_THE_PAST
                  startDateInvalid:
                    description: Invalid start date
                    value:
                      code: START_DATE_INVALID
                  invalidAccountingPeriod:
                    description: Accounting period end is after start
                    value:
                      code: INVALID_ACCOUNTING_PERIOD
                  invalidValue:
                    description: Invalid accounting type
                    value:
                      code: INVALID_VALUE
                  invalidFieldLength:
                    description: Invalid field length
                    value:
                      code: INVALID_FIELD_LENGTH
                  invalidFieldFormat:
                    description: Invalid field format
                    value:
                      code: INVALID_FIELD_FORMAT
                  invalidBusinessDescription:
                    description: Invalid business description
                    value:
                      code: INVALID_BUSINESS_DESCRIPTION
                  invalidPostcode:
                    description: Invalid postcode
                    value:
                      code: INVALID_POSTCODE
          403:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  tooManySources:
                    description: Adding 2nd SE business
                    value:
                      code: TOO_MANY_SOURCES
      get:
        displayName: List all self-employment businesses
        description: List all self-employment businesses
        (annotations.sandboxData): !include scenarios/agent-scenarios.md
        is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
        (annotations.scope): "read:self-assessment"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
        responses:
          200:
            headers:
              X-CorrelationId:
                example: 5968c22d620000620096db51
                description: Unique id for operation tracking
            body:
              application/json:
                type: !include schemas/SelfEmployments.json
                example: !include examples/self-employment/SelfEmployments.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  invalidNino:
                    description: Invalid NINO
                    value:
                      code: NINO_INVALID
      /{selfEmploymentId}:
        description: Self-employment business
        uriParameters:
          selfEmploymentId:
            displayName: Self-employment ID
            description: An identifier for the self-employment business, unique to the customer
            type: string
        get:
          displayName: Get a self-employment business
          description: Get a self-employment business
          (annotations.sandboxData): !include scenarios/agent-scenarios.md
          is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
          (annotations.scope): "read:self-assessment"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
          responses:
            200:
              headers:
                X-CorrelationId:
                  example: 5968c22d620000620096db53
                  description: Unique id for operation tracking
              body:
                application/json:
                  type: !include schemas/SelfEmployment_Without_ID.json
                  example: !include examples/self-employment/SelfEmployment.json
            400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
            404:
        /obligations:
          get:
            displayName: Retrieve self-employment business obligations
            description: Retrieve self-employment business obligations. In sandbox environment, different scenarios for this endpoint can be simulated using 'Gov-Test-Scenario' header
            (annotations.sandboxData): !include scenarios/self-employment-obligation-scenarios.md
            is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
            (annotations.scope): "read:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
            responses:
              200:
                headers:
                  X-CorrelationId:
                    example: 5968c22d620000620096db53
                    description: Unique id for operation tracking
                body:
                  application/json:
                    type: !include schemas/Obligations.json
                    example: !include examples/Obligations.json
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
              404:
        /periods:
          post:
            displayName: Create a self-employment periodic update
            description: Create a self-employment periodic update for submission of periodic data i.e incomes and expenses.
                         Submissions which do not include any incomes or expenses are invalid.
                         You should submit zero values if you do not have incomes or expenses.
                         <br><br><b>Valid payload may contain either expenses or consolidatedExpenses elements.</b>
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader, periodBVRs]
            (annotations.scope): "write:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
            body:
              application/json:
                type: !include schemas/SE_Period_Without_ID.json
                examples:
                 example-1:
                  description: Full expense details example
                  value: !include examples/self-employment/Period.json
                 example-2:
                  description: Consolidated expenses example
                  value: !include examples/self-employment/Period2.json
            responses:
              201:
                headers:
                  Location:
                    example: /self-assessment/ni/{nino}/self-employments/{selfEmploymentId}/periods/{periodId}
                    description: Location of the resource created
                  X-CorrelationId:
                    example: 5968c22d620000620096db54
                    description: Unique id for operation tracking
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
                      mandatoryField:
                        description: Mandatory field missing (from and to fields)
                        value:
                          code: MANDATORY_FIELD_MISSING
                      invalidDate:
                        description: Non ISO format date (from and to fields)
                        value:
                          code: INVALID_DATE
                      invalidPeriod:
                        description: from is not <= to
                        value:
                          code: INVALID_PERIOD
                      invalidMonetaryAmount:
                        description: income or expense is not a non-negative amount or up to 2 decimal places
                        value:
                          code: INVALID_MONETARY_AMOUNT
                      invalidDisallowableAmount:
                        description: disallowableAmount > amount (except for depreciation expenseType)
                        value:
                          code: INVALID_DISALLOWABLE_AMOUNT
                      depreciationDisallowableAmount:
                        description: disallowableAmount != amount (for depreciation expenseType)
                        value:
                          code: DEPRECIATION_DISALLOWABLE_AMOUNT
                      noIncomesAndExpenses:
                        description: No incomes and expenses are supplied
                        value:
                          code: NO_INCOMES_AND_EXPENSES
                      bothExpensesSupplied:
                        description: Both expenses and consolidatedExpenses can not be present at the same time
                        value:
                          code: BOTH_EXPENSES_SUPPLIED
              403:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      notAllowedConsolidatedExpenses:
                        description: Consolidated expenses are not allowed if the accumulative turnover amount exceeds the threshold
                        value:
                          code: NOT_ALLOWED_CONSOLIDATED_EXPENSES
          get:
            displayName: List all self-employment update periods
            description: List all self-employment update periods.
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
            (annotations.scope): "read:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
            responses:
              200:
                headers:
                  X-CorrelationId:
                    example: 5968c22d620000620096db55
                    description: Unique id for operation tracking
                body:
                  application/json:
                    type: !include schemas/Periods.json
                    example: !include examples/Periods.json
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
              404:
          /{periodId}:
            uriParameters:
              periodId:
                description: An identifier for the update period, unique to the customer's self-employment business.
                type: string
            get:
              displayName: Get a self-employment periodic update
              description: Get a single self-employment periodic update for a given identifier.
              (annotations.sandboxData): !include scenarios/agent-scenarios.md
              is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "read:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
              responses:
                200:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db56
                      description: Unique id for operation tracking
                  body:
                    application/json:
                      type: !include schemas/SE_Period_Without_ID.json
                      examples:
                        example-1:
                          description: Periodic update with full expense details example
                          value: !include examples/self-employment/Period.json
                        example-2:
                          description: Periodic update with consolidated expenses example
                          value: !include examples/self-employment/Period2.json
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                404:
            put:
              displayName: Amend a self-employment periodic update
              description: Amend a self-employment periodic update.
                           Submissions  which do not include any incomes or expenses are invalid.
                           You should submit zero values if you do not have incomes or expenses.
                           Valid payload may contain either expenses or consolidatedExpenses elements.
                           <br><br><b>Valid payload may contain either expenses or consolidatedExpenses elements.</b>
              is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "write:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
              body:
                application/json:
                  type: !include schemas/SE_UpdatePeriod.json
                  examples:
                    example-1:
                      description: Full expense details example
                      value: !include examples/self-employment/UpdatePeriod.json
                    example-2:
                      description: Consolidated expenses example
                      value: !include examples/self-employment/UpdatePeriod2.json
              responses:
                204:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db57
                      description: Unique id for operation tracking
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                        invalidMonetaryAmount:
                          description: income or expense is not a non-negative amount or up to 2 decimal places
                          value:
                            code: INVALID_MONETARY_AMOUNT
                        invalidDisallowableAmount:
                          description: disallowableAmount > amount (except for depreciation expenseType)
                          value:
                            code: INVALID_DISALLOWABLE_AMOUNT
                        depreciationDisallowableAmount:
                          description: disallowableAmount != amount (for depreciation expenseType)
                          value:
                            code: DEPRECIATION_DISALLOWABLE_AMOUNT
                        noIncomesAndExpenses:
                          description: No incomes and expenses are supplied
                          value:
                            code: NO_INCOMES_AND_EXPENSES
                        bothExpensesSupplied:
                          description: Both expenses and consolidatedExpenses can not be present at the same time
                          value:
                            code: BOTH_EXPENSES_SUPPLIED
                403:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        notAllowedConsolidatedExpenses:
                          description: Consolidated expenses are not allowed if the accumulative turnover amount exceeds the threshold
                          value:
                            code: NOT_ALLOWED_CONSOLIDATED_EXPENSES

                404:
        /{taxYear}:
          uriParameters:
            taxYear:
              description: The tax year the data applies to
              type: string
              example: 2017-18
          put:
            displayName: Amend a self-employment annual summary
            description: Amend a self-employment annual summary for a tax year.
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
            (annotations.scope): "write:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
            body:
              application/json:
                type: !include schemas/SE_AnnualSummary_PUT.json
                example: !include examples/self-employment/AnnualSummary_PUT.json
            responses:
              204:
                headers:
                  X-CorrelationId:
                    example: 5968c22d620000620096db58
                    description: Unique id for operation tracking
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
                      invalidTaxYear:
                        description: Invalid taxYear
                        value:
                          code: TAX_YEAR_INVALID
                      mandatoryField:
                        description: Mandatory field missing (from and to fields)
                        value:
                          code: MANDATORY_FIELD_MISSING
                      mandatoryField2:
                        description: Exemption code value must be present if the exempt flag is set to true
                        value:
                          code: MANDATORY_FIELD_MISSING
                      invalidMonetaryAmount1:
                        description: valid non-negative amount not provided where expected (except averagingAdjustment and basisAdjustment)
                        value:
                          code: INVALID_MONETARY_AMOUNT
                      invalidMonetaryAmount2:
                        description: valid amount not provided where expected (for averagingAdjustment and basisAdjustment)
                        value:
                          code: INVALID_MONETARY_AMOUNT
                      invalidBalancingChargeBPRA:
                        description: Balancing charge on sale or cessation of business use (Box 58) can only have a value > 0 in if BPRA (Box 54) is also > 0
                        value:
                          code: INVALID_BALANCING_CHARGE_BPRA
                      invalidValue:
                        description: Empty class4NicInfo element provided
                        value:
                          code: INVALID_VALUE
                      invalidValue2:
                        description: Exemption code must not be present if the exempt flag is set to false
                        value:
                          code: INVALID_VALUE
                      invalidValue3:
                        description: Exemption code must be present only if the exempt flag is set to true
                        value:
                          code: INVALID_VALUE
              403:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      notUnder16:
                        description: The Individual's age is equal to or greater than 16 years old on the 6th April of current tax year
                        value:
                          code: NOT_UNDER_16
                      notOverStatePension:
                        description: The Individual's age is less than their State Pension age on the 6th April of current tax year.
                        value:
                          code: NOT_OVER_STATE_PENSION
              404:
          get:
            displayName: Get a self-employment annual summary
            description: Get a self-employment annual summary for a tax year.
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
            (annotations.scope): "read:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
            responses:
              200:
                headers:
                  X-CorrelationId:
                    example: 5968c22d620000620096db59
                    description: Unique id for operation tracking
                body:
                  application/json:
                    type: !include schemas/SE_AnnualSummary_GET.json
                    example: !include examples/self-employment/AnnualSummary_GET.json
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
                      invalidTaxYear:
                        description: Invalid taxYear
                        value:
                          code: TAX_YEAR_INVALID
              404:
    /uk-properties:
      (annotations.group):
        name: UK property business
        description: !include docs/uk-property.md
      post:
        displayName: Add a UK property business [test only]
        description: Add a UK property business. This API is not available in production.
        is: [headers.acceptHeader, contentType, clientSubscriptionToMTD, agentSubscription]
        (annotations.scope): "write:self-assessment"
        securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
        body:
          application/json:
            type: !include schemas/UkProperties.json
            example: !include examples/uk-properties/UkProperties.json
        responses:
          201:
            headers:
              X-CorrelationId:
                example: 5968c22d620000620096db10
                description: Unique id for operation tracking
              Location:
                example: /self-assessment/ni/{nino}/uk-properties
                description: Location of the resource created
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  invalidNino:
                    description: Invalid NINO
                    value:
                      code: NINO_INVALID
                  invalidValue:
                    description: Invalid accounting type
                    value:
                      code: INVALID_VALUE
          409:
            headers:
              Location:
                example: /self-assessment/ni/{nino}/uk-properties
            body:
              application/json:
                type: !include schemas/Error.json
                example: !include examples/errors/CONFLICT.json
      get:
        displayName: Get a UK property business
        description: Get a UK property business
        (annotations.sandboxData): !include scenarios/agent-scenarios.md
        is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
        (annotations.scope): "read:self-assessment"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
        responses:
          200:
            headers:
              X-CorrelationId:
                example: 5968c22d620000620096db10
                description: Unique id for operation tracking
            body:
              application/json:
                type: !include schemas/UkProperties.json
                example: !include examples/uk-properties/UkProperties.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  invalidNino:
                    description: Invalid NINO
                    value:
                      code: NINO_INVALID
          404:
      /obligations:
        get:
          displayName: Retrieve all UK property business obligations
          description: Retrieve all UK property business obligations. In sandbox environment, different scenarios for this endpoint can be simulated using 'Gov-Test-Scenario' header.
          (annotations.sandboxData): !include scenarios/property-obligation-scenarios.md
          is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
          (annotations.scope): "read:self-assessment"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
          responses:
            200:
              headers:
                X-CorrelationId:
                  example: 5968c22d620000620096db11
                  description: Unique id for operation tracking
              body:
                application/json:
                  type: !include schemas/Obligations.json
                  example: !include examples/Obligations.json
            400:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    invalidNino:
                      description: Invalid NINO
                      value:
                        code: NINO_INVALID
            404:
      /other:
        /periods:
          post:
            displayName: Create a non-FHL UK property update period
            description: Create a non-FHL UK property update period for submission of periodic data i.e incomes and expenses.
                         Submissions  which do not include any incomes or expenses are invalid.
                         You should submit zero values if you do not have incomes or expenses.
                         <br><br><b>Valid payload may contain either expenses or consolidatedExpenses elements.</b>
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, periodBVRs]
            (annotations.scope): "write:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
            body:
              application/json:
                type: !include schemas/UK_PROP_OTHER_Period_Without_ID.json
                examples:
                 example-1:
                  description: Full expense details example
                  value: !include examples/uk-properties/other/Period.json
                 example-2:
                  description: Consolidated expenses example
                  value: !include examples/uk-properties/other/Period2.json
            responses:
              201:
                headers:
                  X-CorrelationId:
                    example: 5968c22d620000620096db11
                    description: Unique id for operation tracking
                  Location:
                    example: /self-assessment/ni/{nino}/uk-properties/{propertyType}/periods/{periodId}
                    description: Location of the resource created
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
                      mandatoryField:
                        description: Mandatory field missing (from and to fields)
                        value:
                          code: MANDATORY_FIELD_MISSING
                      invalidDate:
                        description: Non ISO format date (from and to fields)
                        value:
                          code: INVALID_DATE
                      invalidPeriod:
                        description: from is not <= to
                        value:
                          code: INVALID_PERIOD
                      invalidMonetaryAmount:
                        description: income or expense is not a non-negative amount or up to 2 decimal places
                        value:
                          code: INVALID_MONETARY_AMOUNT
                      invalidTaxDeducted:
                        description: taxDeducted > amount
                        value:
                          code: INVALID_TAX_DEDUCTION_AMOUNT
                      noIncomesAndExpenses:
                        description: No incomes and expenses are supplied
                        value:
                          code: NO_INCOMES_AND_EXPENSES
                      bothExpensesSupplied:
                        description: Both expenses and consolidatedExpenses can not be present at the same time
                        value:
                          code: BOTH_EXPENSES_SUPPLIED
              403:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      notAllowedConsolidatedExpenses:
                        description: Consolidated expenses are not allowed if the accumulative turnover amount exceeds the threshold
                        value:
                          code: NOT_ALLOWED_CONSOLIDATED_EXPENSES
              409:
                body:
                  application/json:
                    type: !include schemas/Error.json
                    example: !include examples/errors/CONFLICT.json
          get:
            displayName: List all non-FHL UK property update periods
            description: List all non-FHL UK property update periods.
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
            (annotations.scope): "read:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
            responses:
              200:
                headers:
                  X-CorrelationId:
                    example: 5968c22d620000620096db14
                    description: Unique id for operation tracking
                body:
                  application/json:
                    type: !include schemas/Periods.json
                    example: !include examples/Periods.json
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
              404:
          /{periodId}:
            uriParameters:
              periodId:
                displayName: Update period ID
                description: An identifier for the period
                type: string
            get:
              displayName: Get a non-FHL UK property update period
              description: Get a non-FHL UK property update period for a given identifier.
              (annotations.sandboxData): !include scenarios/agent-scenarios.md
              is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "read:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
              responses:
                200:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db15
                      description: Unique id for operation tracking
                  body:
                    application/json:
                      type: !include schemas/UK_PROP_OTHER_Period_Without_ID.json
                      examples:
                        example-1:
                          description: Periodic update with full expense details example
                          value: !include examples/uk-properties/other/Period.json
                        example-2:
                          description: Periodic update with consolidated expenses example
                          value: !include examples/uk-properties/other/Period2.json
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                404:
            put:
              displayName: Amend a non-FHL UK property periodic update
              description: Amend a non-FHL UK property periodic update.
                           Submissions  which do not include any incomes or expenses are invalid.
                           You should submit zero values if you do not have incomes or expenses.
                           <br><br><b>Valid payload may contain either expenses or consolidatedExpenses elements.</b>
              (annotations.sandboxData): !include scenarios/agent-scenarios.md
              is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "write:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
              body:
                application/json:
                  type: !include schemas/UK_PROP_OTHER_UpdatePeriod.json
                  examples:
                    example-1:
                      description: Periodic update with full expense details example
                      value: !include examples/uk-properties/other/UpdatePeriod.json
                    example-2:
                      description: Periodic update with consolidated expenses example
                      value: !include examples/uk-properties/other/UpdatePeriod2.json
              responses:
                204:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db16
                      description: Unique id for operation tracking
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                        invalidMonetaryAmount:
                          description: income or expense is not a non-negative amount or up to 2 decimal places
                          value:
                            code: INVALID_MONETARY_AMOUNT
                        invalidTaxDeducted:
                          description: taxDeducted > amount
                          value:
                            code: INVALID_TAX_DEDUCTION_AMOUNT
                        noIncomesAndExpenses:
                          description: No incomes and expenses are supplied
                          value:
                            code: NO_INCOMES_AND_EXPENSES
                        bothExpensesSupplied:
                          description: Both expenses and consolidatedExpenses can not be present at the same time
                          value:
                            code: BOTH_EXPENSES_SUPPLIED
                403:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        notAllowedConsolidatedExpenses:
                          description: Consolidated expenses are not allowed if the accumulative turnover amount exceeds the threshold
                          value:
                            code: NOT_ALLOWED_CONSOLIDATED_EXPENSES
                404:
        /{taxYear}:
            displayName: Annual Summary
            uriParameters:
              taxYear:
                description: The tax year the data applies to
                type: string
                example: 2017-18
            put:
              displayName: Amend a non-FHL UK property business annual summary
              description: Amend a non-FHL UK property business annual summary for a tax year.
              (annotations.sandboxData): !include scenarios/agent-scenarios.md
              is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "write:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
              body:
                application/json:
                  type: !include schemas/UK_PROP_OTHER_AnnualSummary.json
                  example: !include examples/uk-properties/other/AnnualSummary.json
              responses:
                204:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db17
                      description: Unique id for operation tracking
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                        invalidTaxYear:
                          description: Invalid taxYear
                          value:
                            code: TAX_YEAR_INVALID
                        invalidMonetaryAmount:
                          description: adjustments or allowances is not a non-negative amount or up to 2 decimal places
                          value:
                            code: INVALID_MONETARY_AMOUNT
                404:
            get:
              displayName: Get a non-FHL UK property business annual summary
              description: Get a non-FHL UK property business annual summary for a tax year.
              (annotations.sandboxData): !include scenarios/agent-scenarios.md
              is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "read:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
              responses:
                200:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db18
                      description: Unique id for operation tracking
                  body:
                    application/json:
                      type: !include schemas/UK_PROP_OTHER_AnnualSummary.json
                      example: !include examples/uk-properties/other/AnnualSummary.json
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                        invalidTaxYear:
                          description: Invalid taxYear
                          value:
                            code: TAX_YEAR_INVALID
                404:
      /furnished-holiday-lettings:
        /periods:
          post:
            displayName: Create a FHL UK property update period
            description: Create a FHL UK property update period for submission of periodic data i.e incomes and expenses.
                         Submissions which do not include any incomes or expenses are invalid.
                         You should submit zero values if you do not have incomes or expenses.
                         <br><br><b>Valid payload may contain either expenses or consolidatedExpenses elements.</b>
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, periodBVRs]
            (annotations.scope): "write:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
            body:
              application/json:
                type: !include schemas/UK_PROP_FHL_Period_Without_ID.json
                examples:
                 example-1:
                  description: Full expense details example
                  value: !include examples/uk-properties/fhl/Period.json
                 example-2:
                  description: Consolidated expenses example
                  value: !include examples/uk-properties/fhl/Period2.json
            responses:
              201:
                headers:
                  X-CorrelationId:
                    example: 5968c22d620000620096db12
                    description: Unique id for operation tracking
                  Location:
                    example: /self-assessment/ni/{nino}/uk-properties/{propertyType}/periods/{periodId}
                    description: Location of the resource created
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
                      mandatoryField:
                        description: Mandatory field missing (from and to fields)
                        value:
                          code: MANDATORY_FIELD_MISSING
                      invalidDate:
                        description: Non ISO format date (from and to fields)
                        value:
                          code: INVALID_DATE
                      invalidPeriod:
                        description: from is not <= to
                        value:
                          code: INVALID_PERIOD
                      invalidMonetaryAmount:
                        description: income or expense is not a non-negative amount or up to 2 decimal places
                        value:
                          code: INVALID_MONETARY_AMOUNT
                      noIncomesAndExpenses:
                        description: No incomes and expenses are supplied
                        value:
                          code: NO_INCOMES_AND_EXPENSES
                      bothExpensesSupplied:
                        description: Both expenses and consolidatedExpenses can not be present at the same time
                        value:
                          code: BOTH_EXPENSES_SUPPLIED
                      invalidTaxDeducted:
                        description: taxDeducted > amount
                        value:
                          code: INVALID_TAX_DEDUCTION_AMOUNT
              403:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      notAllowedConsolidatedExpenses:
                        description: Consolidated expenses are not allowed if the accumulative turnover amount exceeds the threshold
                        value:
                          code: NOT_ALLOWED_CONSOLIDATED_EXPENSES
              409:
                body:
                  application/json:
                    type: !include schemas/Error.json
                    example: !include examples/errors/CONFLICT.json
          get:
            displayName: List all FHL UK property update periods
            description: List all FHL UK property update periods.
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
            (annotations.scope): "read:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
            responses:
              200:
                headers:
                  X-CorrelationId:
                    example: 5968c22d620000620096db13
                    description: Unique id for operation tracking
                body:
                  application/json:
                    type: !include schemas/Periods.json
                    example: !include examples/Periods.json
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
              404:
          /{periodId}:
            uriParameters:
              periodId:
                displayName: Update period ID
                description: An identifier for the period
                type: string
            get:
              displayName: Get a FHL UK property update period
              description: Get a FHL UK property update period for a given identifier.
              (annotations.sandboxData): !include scenarios/agent-scenarios.md
              is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "read:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
              responses:
                200:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db14
                      description: Unique id for operation tracking
                  body:
                    application/json:
                      type: !include schemas/UK_PROP_FHL_Period_Without_ID.json
                      examples:
                        example-1:
                          description: Periodic update with full expense details example
                          value: !include examples/uk-properties/fhl/Period.json
                        example-2:
                          description: Periodic update with consolidated expenses example
                          value: !include examples/uk-properties/fhl/Period2.json
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                404:
            put:
              displayName: Amend a FHL UK property periodic update
              description: Amend a FHL UK property periodic update.
                           Submissions which do not include any incomes or expenses are invalid.
                           You should submit zero values if you do not have incomes or expenses.
                           <br><br><b>Valid payload may contain either expenses or consolidatedExpenses elements.</b>
              (annotations.sandboxData): !include scenarios/agent-scenarios.md
              is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "write:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
              body:
                application/json:
                  type: !include schemas/UK_PROP_FHL_UpdatePeriod.json
                  examples:
                    example-1:
                      description: Periodic update with full expense details example
                      value: !include examples/uk-properties/fhl/UpdatePeriod.json
                    example-2:
                      description: Periodic update with consolidated expenses example
                      value: !include examples/uk-properties/fhl/UpdatePeriod2.json
              responses:
                204:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db15
                      description: Unique id for operation tracking
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                        invalidTaxYear:
                          description: Invalid taxYear
                          value:
                            code: TAX_YEAR_INVALID
                        invalidMonetaryAmount:
                          description: adjustments or allowances is not a non-negative amount or up to 2 decimal places
                          value:
                            code: INVALID_MONETARY_AMOUNT
                        noIncomesAndExpenses:
                          description: No incomes and expenses are supplied
                          value:
                            code: NO_INCOMES_AND_EXPENSES
                        bothExpensesSupplied:
                          description: Both expenses and consolidatedExpenses can not be present at the same time
                          value:
                            code: BOTH_EXPENSES_SUPPLIED
                        invalidTaxDeducted:
                          description: taxDeducted > amount
                          value:
                            code: INVALID_TAX_DEDUCTION_AMOUNT
                403:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        notAllowedConsolidatedExpenses:
                          description: Consolidated expenses are not allowed if the accumulative turnover amount exceeds the threshold
                          value:
                            code: NOT_ALLOWED_CONSOLIDATED_EXPENSES
                404:
        /{taxYear}:
            displayName: Annual Summary
            uriParameters:
              taxYear:
                description: The tax year the data applies to
                type: string
                example: 2017-18
            put:
              displayName: Amend a FHL UK property business annual summary
              description: Amend a FHL UK property business annual summary for a tax year.
              (annotations.sandboxData): !include scenarios/agent-scenarios.md
              is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "write:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
              body:
                application/json:
                  type: !include schemas/UK_PROP_FHL_AnnualSummary.json
                  example: !include examples/uk-properties/fhl/AnnualSummary.json
              responses:
                204:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db16
                      description: Unique id for operation tracking
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                        invalidTaxYear:
                          description: Invalid taxYear
                          value:
                            code: TAX_YEAR_INVALID
                        invalidMonetaryAmount:
                          description: adjustments or allowances is not a non-negative amount or up to 2 decimal places
                          value:
                            code: INVALID_MONETARY_AMOUNT
                404:
            get:
              displayName: Get a FHL UK property business annual summary
              description: Get a FHL UK property business annual summary for a tax year.
              (annotations.sandboxData): !include scenarios/agent-scenarios.md
              is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
              (annotations.scope): "read:self-assessment"
              securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
              responses:
                200:
                  headers:
                    X-CorrelationId:
                      example: 5968c22d620000620096db17
                      description: Unique id for operation tracking
                  body:
                    application/json:
                      type: !include schemas/UK_PROP_FHL_AnnualSummary.json
                      example: !include examples/uk-properties/fhl/AnnualSummary.json
                400:
                  body:
                    application/json:
                      type: types.errorResponse
                      examples:
                        invalidNino:
                          description: Invalid NINO
                          value:
                            code: NINO_INVALID
                        invalidTaxYear:
                          description: Invalid taxYear
                          value:
                            code: TAX_YEAR_INVALID
                404:
    /dividends:
      (annotations.group):
        name: Dividends income
        description: !include docs/dividends-income.md
      /{taxYear}:
        displayName: Annual Summary
        uriParameters:
          taxYear:
            description: The tax year the data applies to
            type: string
            example: 2017-18
        put:
          displayName: Update a dividends income annual summary [test only]
          description: Update a dividends income annual summary for a tax year. This API is not available in production.
          (annotations.sandboxData): !include scenarios/agent-scenarios.md
          is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
          (annotations.scope): "write:self-assessment"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
          body:
            application/json:
              type: !include schemas/DIV_AnnualSummary.json
              example: !include examples/dividends/AnnualSummary.json
          responses:
            204:
            400:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    invalidNino:
                      description: Invalid NINO
                      value:
                        code: NINO_INVALID
                    invalidTaxYear:
                      description: Invalid taxYear
                      value:
                        code: TAX_YEAR_INVALID
                    invalidMonetaryAmount:
                      description: ukDividends is not a non-negative amount or up to 2 decimal places
                      value:
                        code: INVALID_MONETARY_AMOUNT
        get:
          displayName: Get dividends income annual summary [test only]
          description: Get dividends income for a tax year. This API is not available in production.
          (annotations.sandboxData): !include scenarios/agent-scenarios.md
          is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
          (annotations.scope): "read:self-assessment"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
          responses:
            200:
              body:
                application/json:
                  type: !include schemas/DIV_AnnualSummary.json
                  example: !include examples/dividends/AnnualSummary.json
            400:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    invalidNino:
                      description: Invalid NINO
                      value:
                        code: NINO_INVALID
                    invalidTaxYear:
                      description: Invalid taxYear
                      value:
                        code: TAX_YEAR_INVALID
            404:
    /savings-accounts:
      (annotations.group):
        name: Savings accounts
        description: !include docs/savings-accounts.md
      post:
        displayName: Add a savings account [test only]
        description: Add a savings account. This API is not available in production.
        (annotations.sandboxData): !include scenarios/agent-scenarios.md
        is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
        (annotations.scope): "write:self-assessment"
        securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
        body:
          application/json:
            type: !include schemas/SavingsAccount_Without_ID.json
            example: !include examples/savings-accounts/SavingsAccount.json
        responses:
          201:
            headers:
              Location:
                example: /self-assessment/ni/{nino}/savings-accounts/{savingsAccountId}
                description: Location of the resource created
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  invalidNino:
                    description: Invalid NINO
                    value:
                      code: NINO_INVALID
                  invalidLength:
                    description: accountName length is invalid
                    value:
                      code: INVALID_FIELD_LENGTH
                  invalidValue:
                    description: accountName is not alphanumeric
                    value:
                      code: INVALID_VALUE
      get:
        displayName: List all savings accounts [test only]
        description: List all savings accounts. This API is not available in production.
        (annotations.sandboxData): !include scenarios/agent-scenarios.md
        is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
        (annotations.scope): "read:self-assessment"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
        responses:
          200:
            body:
              application/json:
                type: !include schemas/SavingsAccounts.json
                example: !include examples/savings-accounts/SavingsAccounts.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  invalidNino:
                    description: Invalid NINO
                    value:
                      code: NINO_INVALID
      /{savingsAccountId}:
        put:
          displayName: Update a savings account [test only]
          description: Update a savings account. This API is not available in production.
          (annotations.sandboxData): !include scenarios/agent-scenarios.md
          is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
          (annotations.scope): "write:self-assessment"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
          body:
            application/json:
              type: !include schemas/SavingsAccount_Without_ID.json
              example: !include examples/savings-accounts/SavingsAccount.json
          responses:
            204:
            400:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    invalidNino:
                      description: Invalid NINO
                      value:
                        code: NINO_INVALID
                    invalidLength:
                      description: accountName length is invalid
                      value:
                        code: INVALID_FIELD_LENGTH
                    invalidValue:
                      description: accountName is not alphanumeric
                      value:
                        code: INVALID_VALUE
            404:
        get:
          displayName: Get a savings account [test only]
          description: Get a savings account. This API is not available in production.
          (annotations.sandboxData): !include scenarios/agent-scenarios.md
          is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
          (annotations.scope): "read:self-assessment"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
          responses:
            200:
              body:
                application/json:
                  type: !include schemas/SavingsAccount_Without_ID.json
                  example: !include examples/savings-accounts/SavingsAccount.json
            400:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    invalidNino:
                      description: Invalid NINO
                      value:
                        code: NINO_INVALID
            404:
        /{taxYear}:
          put:
            displayName: Update a savings account annual summary [test only]
            description: Update a savings account annual summary for a given tax year. This API is not available in production.
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
            (annotations.scope): "write:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
            body:
              application/json:
                type: !include schemas/SavingsAccount_AnnualSummary.json
                example: !include examples/savings-accounts/AnnualSummary.json
            responses:
              204:
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
                      invalidTaxYear:
                        description: Invalid taxYear
                        value:
                          code: TAX_YEAR_INVALID
                      invalidAmount:
                        description: taxedUkInterest is not a non-negative amount or up to 2 decimal places
                        value:
                          code: INVALID_MONETARY_AMOUNT
              404:
          get:
            displayName: Get a savings account annual summary [test only]
            description: Get a savings account annual summary for a given tax year. This API is not available in production.
            (annotations.sandboxData): !include scenarios/agent-scenarios.md
            is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
            (annotations.scope): "read:self-assessment"
            securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
            responses:
              200:
                body:
                  application/json:
                    type: !include schemas/SavingsAccount_AnnualSummary.json
                    example: !include examples/savings-accounts/AnnualSummary.json
              400:
                body:
                  application/json:
                    type: types.errorResponse
                    examples:
                      invalidNino:
                        description: Invalid NINO
                        value:
                          code: NINO_INVALID
                      invalidTaxYear:
                        description: Invalid taxYear
                        value:
                          code: TAX_YEAR_INVALID
              404:
    /calculations:
      (annotations.group):
        name: Tax calculations
        description: !include docs/tax-calculation.md
      post:
        displayName: Trigger a tax calculation
        description: Trigger a tax calculation.
        (annotations.sandboxData): !include scenarios/agent-scenarios.md
        is: [headers.acceptHeader, contentType, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
        (annotations.scope): "write:self-assessment"
        securedBy: [ sec.oauth_2_0: { scopes: [ "write:self-assessment" ] } ]
        body:
          application/json:
            type: !include schemas/TaxCalculationYear.json
            example: !include examples/calculation/TaxCalculationYear.json
        responses:
          202:
            headers:
              Location:
                example: /self-assessment/ni/{nino}/calculations/{calculationId}
                description: Location of the calculation result
            body:
              application/json:
                type: !include schemas/TaxCalculationETA.json
                example: !include examples/calculation/TaxCalculationETA.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  invalidNino:
                    description: Invalid NINO
                    value:
                      code: NINO_INVALID
                  mandatoryField:
                    description: Mandatory field missing
                    value:
                      code: MANDATORY_FIELD_MISSING
                  invalidTaxYear:
                    description: Invalid taxYear
                    value:
                      code: TAX_YEAR_INVALID
      /{taxCalculationId}:
        uriParameters:
          taxCalculationId:
            description: The ID of the tax calculation
            type: string
        get:
          displayName: Retrieve a tax calculation
          description: Retrieve a tax calculation. Please note that in sandbox environment this API will return pre-defined responses that are representative of what may be returned in production.
          (annotations.sandboxData): !include scenarios/agent-scenarios.md
          is: [headers.acceptHeader, agentSubscription, clientSubscriptionToMTD, testScenarioHeader]
          (annotations.scope): "read:self-assessment"
          securedBy: [ sec.oauth_2_0: { scopes: [ "read:self-assessment" ] } ]
          responses:
            200:
              body:
                application/json:
                  type: !include schemas/TaxCalculation.json
                  example: !include examples/calculation/TaxCalculation.json
            204:
            404:
            400:
              body:
                application/json:
                  type: types.errorResponse
                  examples:
                    invalidNino:
                      description: Invalid NINO
                      value:
                        code: NINO_INVALID
