#%RAML 1.0
---

title: Self Assessment
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Obligations
    content: !include docs/obligation.md
  - title: Self Employment Business
    content: !include docs/self-employment.md
  - title: UK Property Business
    content: !include docs/uk-property.md

schemas:
  Error: !include schemas/Error.json
  SelfEmployment: !include schemas/self-employment/SelfEmployment.json
  SelfEmployments: !include schemas/self-employment/SelfEmployments.json
  SelfEmploymentPeriod: !include schemas/self-employment/Period.json
  SelfEmploymentPeriodUpdate: !include schemas/self-employment/UpdatePeriod.json
  SelfEmploymentPeriods: !include schemas/self-employment/Periods.json
  SelfEmploymentAnnualSummary: !include schemas/self-employment/AnnualSummary.json
  UKProperty: !include schemas/uk-property/UKProperty.json
  UKProperties: !include schemas/uk-property/UKProperties.json
  UkPropertyPeriod: !include schemas/uk-property/Period.json
  UkPropertyPeriods: !include schemas/uk-property/Periods.json
  UkPropertyAnnualSummary: !include schemas/uk-property/AnnualSummary.json
  FurnishedHolidayLettingPeriod: !include schemas/furnished-holiday-letting/Period.json
  FurnishedHolidayLettingPeriods: !include schemas/furnished-holiday-letting/Periods.json
  FurnishedHolidayLettingAnnualSummary: !include schemas/furnished-holiday-letting/AnnualSummary.json
  Calculation: !include schemas/obligation/Calculation.json
  Obligations: !include schemas/obligation/Obligations.json

/self-assessment:
  /ni/{nino}:
    uriParameters:
      nino:
        displayName: National Insurance Number
        type: string
        required: true
    /obligations:
      displayName: Obligations
      get:
        description: Get obligations
        responses:
          200:
            body:
              application/json:
                schema: Obligations
                example: !include examples/obligation/Obligations.json
          400:
            body:
              application/json:
                schema: Error
                example: !include examples/obligation/errors/GENERIC.json
      put:
        description: Meet obligations
        responses:
          202:
            headers:
              Location:
                example: /self-assessment/ni/{nino}/calculations/{calculationId}; rel="calculation"
    /calculations/{calculationId}:
      displayName: Calculation
      uriParameters:
        calculationId:
          type: string
          displayName: Calculation ID
      get:
        description: Get calculation
        responses:
          200:
            body:
              application/json:
                schema: Calculation
                example: !include examples/obligation/Calculation.json
          400:
            body:
              application/json:
                schema: Error
                example: !include examples/obligation/errors/GENERIC.json

    /self-employments:
      displayName: Self Employment Businesses
      post:
        description: Register a self-employment business
        body:
          application/json:
            schema: SelfEmployment
            example: !include examples/self-employment/SelfEmployment.json
        responses:
          201:
            headers:
              Location:
                example: /self-assessment/ni/{nino}/self-employments/{selfEmploymentId}
          400:
            body:
              application/json:
                schema: Error
                example: !include examples/errors/TOO_MANY_SOURCES.json
      get:
        description: List self-employment businesses
        responses:
          200:
            body:
              application/json:
                schema: SelfEmployments
                example: !include examples/self-employment/SelfEmployments.json
      /{businessId}:
        displayName: Self Employment Business
        uriParameters:
          businessId:
            displayName: Business ID
            description: An identifier for the self-employmment business, unique to the customer
            type: string
        get:
          description: Get a self-employment business
          responses:
            200:
              body:
                application/json:
                  schema: SelfEmployment
                  example: !include examples/self-employment/SelfEmployment.json
        put:
          description: Update a self-employment business, e.g. to change accounting period
          body:
            application/json:
              schema: SelfEmployment
              example: !include examples/self-employment/SelfEmployment.json
          responses:
            204:
            400:
              body:
                application/json:
                  schema: Error
                  example: !include ./examples/errors/INVALID_ACCOUNTING_PERIOD.json
        /periods:
          displayName: Periods
          post:
            description: Create period
            body:
              application/json:
                schema: SelfEmploymentPeriod
                example: !include examples/self-employment/Period.json
            responses:
              201:
                headers:
                  Location:
                    example: /self-assessment/ni/{nino}/self-employments/{selfEmploymentId}/periods/{periodId}
              400:
                body:
                  application/json:
                    schema: Error
                    example: !include examples/errors/INVALID_REQUEST.json
          get:
            description: List periods
            responses:
              200:
                body:
                  application/json:
                    schema: SelfEmploymentPeriods
                    example: !include examples/self-employment/Periods.json
          /{periodId}:
            displayName: Period
            uriParameters:
              periodId:
                type: string
            get:
              description: Get period
              responses:
                200:
                  body:
                    application/json:
                      schema: SelfEmploymentPeriod
                      example: !include examples/self-employment/Period.json
            put:
              description: Update period
              body:
                application/json:
                  schema: SelfEmploymentPeriodUpdate
                  example: !include examples/self-employment/UpdatePeriod.json
              responses:
                204:
                400:
                  body:
                    application/json:
                      schema: Error
                      example: !include examples/errors/INVALID_REQUEST.json
        /{taxYear}:
          uriParameters:
            taxYear:
              type: string
              displayName: Tax Year
              example: 2016-17
          put:
            description: Update annual summary
            body:
              application/json:
                schema: SelfEmploymentAnnualSummary
                example: !include ./examples/self-employment/AnnualSummary.json
            responses:
              204:
              400:
                body:
                  application/json:
                    schema: Error
                    example: !include examples/errors/AnnualSummary_INVALID_REQUEST.json
          get:
            description: Get annual summary
            responses:
              200:
                body:
                  application/json:
                    schema: SelfEmploymentAnnualSummary
                    example: !include ./examples/self-employment/AnnualSummary.json
    /uk-properties:
      displayName: UK Properties Business
      post:
        description: Register a UK Properties business
        body:
          application/json:
            schema: UKProperty
            example: !include examples/uk-property/UKProperty.json
        responses:
          201:
            headers:
              Location:
                example: /self-assessment/ni/{nino}/uk-properties/furnished-holiday-lettings
          400:
            body:
              application/json:
                schema: Error
                example: !include examples/errors/INVALID_ACCOUNTING_PERIOD.json
          403:
            body:
              application/json:
                schema: Error
                example: !include examples/errors/BUSINESS_ERROR_ALREADY_EXISTS.json
      get:
        description: List all UK Properties businesses
        responses:
          200:
            body:
              application/json:
                schema: UKProperties
                example: !include examples/uk-property/UKProperties.json
      /other:
        displayName: Other
        /periods:
          displayName: Periods
          post:
            description: Create period
            body:
              application/json:
                schema: UkPropertyPeriod
                example: !include examples/uk-property/Period.json
            responses:
              201:
                headers:
                  Location:
                    example: /self-assessment/ni/{nino}/properties/uk/periods/{periodId}
              400:
                body:
                  application/json:
                    schema: Error
                    example: !include examples/uk-property/errors/Period_INVALID_REQUEST.json
          get:
            description: List periods
            responses:
              200:
                body:
                  application/json:
                    schema: UkPropertyPeriods
                    example: !include examples/uk-property/Periods.json
          /{periodId}:
            uriParameters:
              periodId:
                displayName: Period ID
                type: string
            get:
              description: Get period
              responses:
                200:
                  body:
                    application/json:
                      schema: UkPropertyPeriod
                      example: !include examples/uk-property/Period.json
            put:
              description: Update period
              body:
                application/json:
                  schema: UkPropertyPeriod
                  example: !include examples/uk-property/Period.json
              responses:
                204:
                400:
                  body:
                    application/json:
                      schema: Error
                      example: !include examples/uk-property/errors/Period_INVALID_REQUEST.json
        /{taxYear}:
            displayName: Annual Summary
            uriParameters:
              taxYear:
                type: string
                example: 2016-17
                displayName: Tax Year
            put:
              description: Update annual summary
              body:
                application/json:
                  schema: UkPropertyAnnualSummary
                  example: !include ./examples/uk-property/AnnualSummary.json
              responses:
                204:
                400:
                  body:
                    application/json:
                      schema: Error
                      example: !include examples/uk-property/errors/AnnualSummary_INVALID_REQUEST.json
            get:
              description: Get annual summary
              responses:
                200:
                  body:
                    application/json:
                      schema: UkPropertyAnnualSummary
                      example: !include ./examples/uk-property/AnnualSummary.json
      /furnished-holiday-lettings:
        displayName: Furnish Holiday Lettings
        /periods:
          post:
            description: Create period
            body:
              application/json:
                schema: FurnishedHolidayLettingPeriod
                example: !include examples/furnished-holiday-lettings/Period.json
            responses:
              201:
                headers:
                  Location:
                    example: /self-assessment/ni/{nino}/furnished-holiday-lettings/{location}/periods/{periodId}
              400:
                body:
                  application/json:
                    schema: Error
                    example: !include examples/furnished-holiday-lettings/errors/Period_INVALID_REQUEST.json
          get:
            description: List periods
            responses:
              200:
                body:
                  application/json:
                    schema: FurnishedHolidayLettingPeriods
                    example: !include examples/furnished-holiday-lettings/Periods.json
          /{periodId}:
            displayName: Period
            uriParameters:
              periodId:
                displayName: Period ID
                type: string
            get:
              description: Get period
              responses:
                200:
                  body:
                    application/json:
                      schema: FurnishedHolidayLettingPeriod
                      example: !include examples/furnished-holiday-lettings/Period.json
            put:
              description: Update period
              body:
                application/json:
                  schema: FurnishedHolidayLettingPeriod
                  example: !include examples/furnished-holiday-lettings/Period.json
              responses:
                204:
                400:
                  body:
                    application/json:
                      schema: Error
                      example: !include examples/furnished-holiday-lettings/errors/Period_INVALID_REQUEST.json
        /{taxYear}:
            displayName: Annual Summary
            uriParameters:
              taxYear:
                type: string
                displayName: Tax Year
                example: 2016-17
            put:
              description: Update annual summary
              body:
                application/json:
                  schema: FurnishedHolidayLettingAnnualSummary
                  example: !include ./examples/furnished-holiday-lettings/AnnualSummary.json
              responses:
                204:
                400:
                  body:
                    application/json:
                      schema: Error
                      example: !include examples/furnished-holiday-lettings/errors/AnnualSummary_INVALID_REQUEST.json
            get:
              description: Get annual summary
              responses:
                200:
                  body:
                    application/json:
                      schema: FurnishedHolidayLettingAnnualSummary
                      example: !include ./examples/furnished-holiday-lettings/AnnualSummary.json
