#%RAML 0.8
---

title: Self Assessment
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: UK Properties
    content: !include docs/uk-properties.md

schemas:
  - Error: !include schemas/Error.json
  - UkPropertyPeriod: !include schemas/uk-property/Period.json
  - UkPropertyPeriods: !include schemas/uk-property/Periods.json

/self-assessment:
  /ni/{nino}:
    uriParameters:
      nino:
        displayName: National Insurance Number
        type: string
        required: true
    /uk-properties/periods:
      post:
        description: Create period
        body:
          application/json:
            schema: UkPropertyPeriod
            example: !include examples/uk-property/Period.json
        responses:
          201:
            headers:
              Location:
                example: /self-assessment/nino/{nino}/uk-properties/periods/{periodId}
          400:
            body:
              application/json:
                schema: Error
                example: !include examples/uk-property/errors/Period_INVALID_REQUEST.json
      get:
        description: List periods
        responses:
          200:
            body:
              application/json:
                schema: UkPropertyPeriods
                example: !include examples/uk-property/Periods.json
      /{periodId}:
        uriParameters:
          periodId:
            displayName: Period ID
            type: string
        get:
          description: Get period
          responses:
            200:
              body:
                application/json:
                  schema: UkPropertyPeriod
                  example: !include examples/uk-property/Period.json
        put:
          description: Update period
          body:
            application/json:
              schema: UkPropertyPeriod
              example: !include examples/uk-property/Period.json
