#%RAML 0.8
---

title: Self Assessment
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Dividends
    content: !include docs/dividends.md

schemas:
  - Error: !include schemas/Error.json
  - DividendPeriod: !include schemas/dividends/Period.json
  - DividendPeriods: !include schemas/dividends/Periods.json

/self-assessment:
  /ni/{nino}:
    uriParameters:
      nino:
        displayName: National Insurance Number
        type: string
        required: true
    /dividends/periods:
       displayName: Dividends
       post:
         description: Create period
         body:
           application/json:
             schema: DividendPeriod
             example: !include examples/dividends/Period.json
         responses:
           201:
             headers:
               Location:
                 example: /self-assessment/nino/{nino}/dividends/periods/{periodId}
           400:
             body:
               application/json:
                 schema: Error
                 example: !include examples/dividends/errors/Period_INVALID_REQUEST.json
       get:
         description: List periods
         responses:
           200:
             body:
               application/json:
                 schema: DividendPeriods
                 example: !include examples/dividends/Periods.json
       /{periodId}:
         uriParameters:
           periodId:
             displayName: Period ID
             type: string
         get:
           description: Get period
           responses:
             200:
               body:
                 application/json:
                   schema: DividendPeriod
                   example: !include examples/dividends/Period.json
         put:
           description: Update period
           body:
             application/json:
               schema: DividendPeriod
               example: !include examples/dividends/Period.json
