#%RAML 0.8
---

title: Self Assessment
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Obligations
    content: !include docs/obligation.md

schemas:
  - Error: !include schemas/Error.json
  - Calculation: !include schemas/obligation/Calculation.json

/self-assessment:
  /ni/{nino}:
    uriParameters:
      nino:
        displayName: National Insurance Number
        type: string
        required: true
    /obligations:
      post:
        description: Create oblications
        queryParameters:
          taxYear:
            displayName: Tax Year
            description: The tax year that you want the obligations created for
            type: string
            example: 2016-17
            required: true
        responses:
          202:
            headers:
              Location:
                example: /self-assessment/ni/{nino}/calculations/{calculationId}; rel="calculation"
          400:
            body:
              application/json:
                schema: Error
                example: !include examples/obligation/errors/GENERIC.json
    /calculations/{calculationId}:
      uriParameters:
        calculationId:
          type: string
      get:
        description: Get calculation
        responses:
          200:
            body:
              application/json:
                schema: Calculation
                example: !include examples/obligation/Calculation.json
