#%RAML 0.8
---

title: Self Assessment
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Self Employment
    content: !include docs/self-employment.md

schemas:
  - Error: !include schemas/Error.json
  - HasId: !include schemas/HasId.json
  - SelfEmployment: !include schemas/self-employment/SelfEmployment.json
  - SelfEmployments: !include schemas/self-employment/SelfEmployments.json

/self-assessment:
  /nino/{nino}:
    uriParameters:
      nino:
        displayName: National Insurance Number
        type: string
        required: true
    /self-employments:
      description: Self Employments
      post:
        description: Create a self-employment source of income
        body:
          application/json:
            schema: SelfEmployment
            example: !include examples/self-employment/CreateSelfEmploymentRequest.json
        responses:
          201:
            headers:
              Location:
                example: /self-assessment/nino/{nino}/self-employments/{selfEmploymentId}
            body:
              application/json:
                schema: HasId
                example: !include examples/self-employment/CreateSelfEmploymentResponse.json
          400:
            body:
              application/json:
                schema: Error
                example: !include examples/errors/TOO_MANY_SOURCES.json
      get:
        description: List self-employment sources of income
        responses:
          200:
            body:
              application/json:
                schema: SelfEmployments
                example: !include examples/self-employment/ListSelfEmploymentsResponse.json
      /{selfEmploymentId}:
        description: Self Employment
        uriParameters:
          selfEmploymentId:
            displayName: Self Employment ID
            description: An identifier for the self-employmment, unique to the customer
            type: string
        get:
          description: Get a self-employment source of income
          responses:
            200:
              body:
                application/json:
                  schema: SelfEmployment
                  example: !include examples/self-employment/GetSelfEmploymentResponse.json
        put:
          description: Update a self-employment source of income, e.g. to change accounting period
          body:
            application/json:
              schema: SelfEmployment
              example: !include examples/self-employment/UpdateSelfEmploymentRequest.json
          responses:
            204:
            400:
              body:
                application/json:
                  schema: Error
                  example: !include ./examples/errors/INVALID_ACCOUNTING_PERIOD.json
        delete:
          description: Delete a self-employment source of income
          responses:
            204:
