#%RAML 0.8
---

title: Self Assessment
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Bank Account Interest
    content: !include docs/bank-account.md

schemas:
  - Error: !include schemas/Error.json
  - BankAccountPeriod: !include schemas/bank-account/Period.json
  - BankAccountPeriods: !include schemas/bank-account/Periods.json

/self-assessment:
  /ni/{nino}:
    uriParameters:
      nino:
        displayName: National Insurance Number
        type: string
        required: true
    /bank-account/periods:
       displayName: Bank Account Interest
       post:
         description: Create period
         body:
           application/json:
             schema: BankAccountPeriod
             example: !include examples/bank-account/Period.json
         responses:
           201:
             headers:
               Location:
                 example: /self-assessment/nino/{nino}/bank-account/periods/{periodId}
           400:
             body:
               application/json:
                 schema: Error
                 example: !include examples/bank-account/errors/Period_INVALID_REQUEST.json
       get:
         description: List periods
         responses:
           200:
             body:
               application/json:
                 schema: BankAccountPeriods
                 example: !include examples/bank-account/Periods.json
       /{periodId}:
         uriParameters:
           periodId:
             displayName: Period ID
             type: string
         get:
           description: Get period
           responses:
             200:
               body:
                 application/json:
                   schema: BankAccountPeriod
                   example: !include examples/bank-account/Period.json
         put:
           description: Update period
           body:
             application/json:
               schema: BankAccountPeriod
               example: !include examples/bank-account/Period.json
